@use "sass:map";
@use "sass:list";
:root{
  --sys-light-on-primary: #FFFFFF;
  --sys-light-primary: #006399;
  --sys-dark-primary: #94CCFF;
  --sys-light-inverse-surface: #2F3033;
  --sys-light-inverse-on-surface:#F0F0F4;
}
$palette-map: (
  --sys-light-dark-primary:(
    #006399,
    #94CCFF,
  ),
  
  --sys-light-dark-background: (
    #FCFCFF,
    #1A1C1E,
   ),
  
   --sys-light-dark-on-background: (
    #1A1C1E,
    #E2E2E5,
  ),

  --sys-light-dark-surface-variant: (
    #DEE3EB, 
    #42474E,
  ),

  --sys-light-dark-on-surface-variant: (
    #42474E, 
    #C2C7CF,
  ),

  --sys-light-dark-secondary-container: (
    #D4E4F6,
    #394857,
  ),

  --sys-light-dark-on-secondary-container: (
    #0D1D2A, 
    #D4E4F6,
  ),

  --sys-light-dark-primary-container: (
    #CDE5FF,
    #004B74,
     ),

  --sys-light-dark-on-primary-container: (
    #001D32, 
    #CDE5FF
  ),

);

@mixin set-colors($palette-map) {
    @each $color-name, $color in $palette-map {
      #{$color-name}: light-dark(list.nth($color, 1), list.nth($color, 2));
    }
}

@mixin init_colors() {
    @include set-colors($palette-map);
}